body {
	background-repeat: repeat;
	background-image: url(/img/backGG01.png);

}

.borda {
	border: 1px solid;
}

span {
	width: 180px;
	display: inline-block;
}

button {
	width: 150px;
	height: 30px;
	align-content: center;
	margin: auto;
}

div {
	background-color: rgba(255, 255, 255, 1);
	border-radius: 3%;
	/*(margin: 10px 0px 10px 5px;)*/
}

.Logo {
	background-color: rgba(255, 170, 170, 0.3);

	height: 25%;
	width: auto;
	border-radius: 8%;
}

.Ts:hover {
	animation: corLed 2s infinite;
}

@keyframes corLed {
	0% {
		color: #000;
	}

	25% {
		color: #a00;
	}

	50% {
		color: #0a0;
	}

	75% {
		color: #00a;
	}

	100% {
		color: #000;
	}
}


form {
	display: inline-block;
}

/*

Essas linhas abaixo serve para fazer a coloração do que está ou não disponivel, caso queira trocar, pode-se ir no arquivo "main.js" e alterar o que está ou não disponivel. Aqui poderá ser trocado as cores e o delay.

*/

.HoverPos:hover {
	width: auto;
	background-color: lime;
	/*font-family: sans-serif;*/
	/*color: lime;*/
}

.HoverNeg:hover {
	width: auto;
	background-color: red;
	/*font-family: sans-serif;*/
	/*color: red;*/
}

.Pos {
	animation: color-pos 1.5s linear;
}

.Neg {
	animation: color-neg 1.5s linear;
}

@keyframes color-pos {
	0% {
		color: black
	}

	50% {
		color: lime
	}

	100% {
		color: black
	}

}

@keyframes color-neg {
	0% {
		color: black
	}

	50% {
		color: red
	}

	100% {
		color: black
	}

}

/* v. SNAPSHOT 0.5 */
